<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings><add key="AWSProfileName" value="dasha_ivasha"/>
<add key="AWSAccessKey" value="AKIAJO3YO2ATRVV5UQYA"/>
<add key="AWSSecretKey" value="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"/></appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

</configuration>